* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", serif;
  font-size: 16px;
}

#page {
  box-sizing: border-box;
  width: 1120px;
  margin: 88px auto 48px;  
}

header h4 {
  margin-bottom: 8px;
}

header p {
  margin-top: 24px;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-bottom: 44px;
}

main {
  padding-top: 64px;
  border-top: 1px solid #D9D9D9;
  margin-bottom: 65px;
}

#templo1 {
  margin-top: 64px;
  margin-bottom: 48px;
}

#templo1 li span, #templo2 li span {
  color: #0C51A7;
}

#templo2 {
  margin-bottom: 48px;
}

#parque {
  padding-bottom: 40px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 40px;
}

img {
  border-radius: 28px;
}

h1 {
  color: #1B1B1B;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 44px;
}

h2 {
  color: #1B1B1B;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 8px;
}

h3 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 28px;
}

h4 {
  color: #E1624F;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase ;
}

p {
  font-size: 16px;
}

#pcenter {
  text-align: center;
}

span {
  font-weight: 700;
}

ul {
  padding-left: 24px;
}

#li_first {
  color: #591B98;
}

#li_second {
  color: #E5245E;
}

#li_third {
  color: #E95E10;
}

footer {
  font-family: "Alice", sans-serif;
  line-height: 150%;
  text-align: center;
}

footer img {
  vertical-align: middle;
}






